.banner{
	margin-top:35px;
  position: relative;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 95%;
  background-image: url("/images/photo-couch.jpg");
  background-image: -webkit-image-set(url(/images/photo-couch_2x.jpg) 2x);
  div.banner-text{
  	color:#ffffff;
  	position: absolute;
    margin-left: 1rem;
    padding:0 2rem 2rem 0;
    top:2rem;
    transition:top 0.25s ease;
    padding-bottom:3rem;
  	h1{
  		font-weight: 100;
  		font-size:2.25rem;
      line-height: 3rem;
      margin:0;
  	}
  	h3{
  		font-size:1rem;
  		font-weight:100;
      margin:0;
      margin-bottom:1rem;
  	}
  	p{
  		width:40%;
  		font-size: 0.875rem;
  		font-weight: 300;
      line-height:1.25rem;
      margin-bottom:1.25rem;
  	}
    button{
      border:none;
      padding:0.4rem 1.75rem;
      font-size: 0.875rem;
      border-radius:18px;
      background-color:$brand-primary;
      text:uppercase;
      text-transform: uppercase;
      cursor:pointer;
      color:$medium-grey;
      &:hover{
        background: darken($brand-primary, 20%);
      }
    }
  }
}


@media only screen and (min-width : 320px) {
  .banner{
    background-attachment: scroll;
    background-position: left;
    div.banner-text{
      position:relative;
      top:7.5rem;
      p{
        width: 60%;
      }
    }
  }
}

@media only screen and (min-width : 768px) {
  .banner{
    background-attachment: fixed;
    div.banner-text{
      top:17rem;
      left:13%;
      margin-left:0;
      transition: top 0.25s ease;
      p{
        width: 40%;
      }
    }
  }
}

@media(max-height: 600px) {
  .banner{
    background-attachment: scroll;
    div.banner-text{
      position:relative;
      top:2rem;
    }
  }
}

