.callouts{
	text-align: center;
	color:#2f3237;
	margin-left:13%;
	margin-right:13%;
	h3{
		font-size: 1.5rem;
		font-weight: 400;
	}
	div{
		background: $light-grey;
		float:left;
		width:100%;
		padding:1rem;
		box-sizing: border-box;
		p{
  		color:$medium-grey;
  		font-weight: 100;
  		line-height: 1.5rem;
  		margin:1rem;
  		font-size: 0.875rem;
  	}
		span{
			font-size: 3rem;
			font-weight:400;
			border-bottom:5px solid $brand-primary;
  		display: inline-block;
  		margin-bottom:0rem;
  		+ p{
  				font-weight: 400;
  				font-size: 1rem;
  				line-height: 2rem;
  		}
		}
	}
}

@media only screen and (min-width : 320px) {
  .callouts{
    margin:0;
  }
}

@media only screen and (min-width : 768px) {
  .callouts{
  	margin:0 13% 0 13%;
    div{
      width:25%;
    }
  }
}