header{
	background: $dark-grey;
  height:49px;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 9999991;
  width:100%;
  border-bottom:1px solid #2a2a2a;
	div{
    margin-left:1rem;
    img{
      margin-top:16px;
    }
  }
}


@media only screen and (min-width : 768px) {
  header{
    div{
      margin-left:13%;
    }
  }
}