@import url(https://fonts.googleapis.com/css?family=Lato:200,300,400,700);
@import 'variables/_color';
@import 'components/_header';
@import 'components/_banner';
@import 'components/_callouts';


body,html{
	font-family: 'Lato', 'Helvetica', sans-serf;
  margin: 0;
  padding: 0;
	height: 100vh;
  width: 100vw;
  background: $light-grey;
  overflow-x:hidden;
}

body{
  overflow-y:scroll;
  -webkit-overflow-scrolling: touch;
}